#!/bin/bash
# File managed by Ansible
#
# https://www.server-world.info/en/note?os=Ubuntu_24.04&p=ceph&f=4
#
# CephFS = Ceph File System
#
# TODO: maak idempotent
#

sudo ceph-authtool -p /etc/ceph/ceph.client.admin.keyring > /var/tmp/admin.key
chmod 600 /var/tmp/admin.key
sudo mkdir -p /mnt/cephfs
sudo mount -t ceph {{ cephmounthost }}:6789:/ /mnt/cephfs -o name=admin,secretfile=/var/tmp/admin.key
